version: "2"
services:
  haproxy:
    image: eeacms/haproxy
    depends_on:
      - app
    ports:
      - "80:5000"
      - "1936:1936"
    environment:
      BACKENDS: "app"
      DNS_ENABLED: "true"
      LOG_LEVEL: "info"

  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
